/* footer {
    height: 1000px;
} */

.footer-service {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    /* background-color: pink; */
    border-bottom: 1px solid #e0e0e0;
}

.footer-service li {
    width: 243px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

/* 小细线 */
.footer-service li+li {
    border-left: 1px solid #ccc;
}

.footer-service li a {
    color: #616161;
    font-size: 16px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 192px;
    padding: 40px 0;
}

.footer-links dl dt {
    margin-bottom: 26px;
    font-size: 16px;
    color: #000;
}

.footer-links dl dd {
    margin-top: 10px;
    font-size: 12px;
    color: #757575
}

.footer-links .col-contact{
    width: 252px;
    height: 110px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.footer-links p.phone{
    font-size: 22px;
    color: #ff6700;
}

.footer-links p.time{
    font-size: 12px;
    margin: 5px 0;
}

.footer-links a.btn{
    display: inline-block;
    width: 120px;
    height: 30px;
    border: 1px solid #ff6700;
    color: #ff6700;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    font-size: 12px;
    transition-duration: 300ms;
}

.footer-links a.btn:hover{
    color:#fff;
    background-color: #ff6700;
}

.footer-links .col-contact p.follows{
    margin-top: 10px;
    font-size: 12px;
    color: #616161;
}

.footer-links .col-contact p.follows img{
    width: 24px;
    height: 24px;
}